@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    background-color:transparent;
}

::-webkit-scrollbar-thumb{
    background-color:rgba(128, 128, 128,0.4);
    border-radius:50px;
}